*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    height: 30px;
    font-size: 20px;
}

.container{
    display: flex;
    background-color: yellow;
    align-items: center;
}

.info{
    width: 60vh;
}

.pic{
    width: 35vh;
}
